<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

  <title>TabOverSpace | Login</title>

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/imageedit-2.gif' %}">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
  <script src="{% static 'js/account.js' %}"></script>
  <style type="text/css">

            .facebook{

                height: 30px;
                width:30px;
                background-image: url('{% static "assets/images/facebook.png" %}');
                background-size: cover;

            }  

            .github{

                height: 30px;
                width:30px;
                background-image: url('{% static "assets/images/github.png" %}');
                background-size: cover;

            }
            .linkedin{

                height: 30px;
                width:30px;
                background-image: url('{% static "assets/images/linkedin.png" %}');
                background-size: cover;

            }
            .google{

                height: 30px;
                width:30px;
                background-image: url('{% static "assets/images/google.png" %}');
                background-size: cover;

            }
        </style>


    </head>
    <body>
        <div class="wrapper font-class">
            <table style="margin: auto">
                <td>
                    <div id="main_wrapper" style="padding-left: 80px">
                        <div style="margin-bottom: 20px;text-align: left;margin-left: 5px">
                            <span style="color: white;font-family: serif;font-size: 32px;font-weight: 600">
                                /<span style="color: #F4D346">/</span>:_
                            </span>
                        </div>

                        <div class='buttons'>
                            <div class="active font-class" style="text-align:left;margin-top:0px;color:aqua;margin-left: 5px"><p style="font-size: 20px"><span  id="loginButton"  style="font-size: 24px;font-weight: 600;color: #E1C63F">Login</span> | <span id="registerButton">SignUp</span></p></div>
                            <br>
                        </div>
                        <form class="form font" method="post" action="" data-aos="fade-in">
                            <table>
                                {% csrf_token %}
                                <input type="name" class="username placeholderFont" name="username" placeholder="Username" style="background: #0C0D0F;border:0px !important;color: aliceblue;outline: 0px;margin-bottom: 8px;font-family: Raleway;width: 330px;margin-right: 60px;margin-left: 5px">

                                <div style="width: 330px;height: 1px;background-color: aliceblue;margin-bottom: 50px;margin-left: 5px"></div>
                                <input type="password" class="password placeholderFont" name="password" placeholder="Password" style="background: #0C0D0F;border:0px !important;color: aliceblue;outline: 0px;margin-bottom: 8px;margin-left: 5px;font-family: Raleway;width: 330px;margin-right: 60px">
                                <div style="width: 330px;height: 1px;background-color: aliceblue;margin-bottom: 30px;margin-left: 5px"></div>   
                                <table>
                                    <tr>
                                        <td style="color: aliceblue;margin-right: 5px;font-size: 14px">
                                            Remember Me    
                                        </td>
                                        <td>
                                            <input type="checkbox" style="color: aliceblue;margin-right: 94px;font-size: 14px">    
                                        </td>

                                        <td style="color: aliceblue;font-size: 14px;text-align: end">
                                            Forgot Password ?  
                                        </td>
                                    </tr>
                                </table>
                                <div style="color: aliceblue;margin-right: 5px;font-size: 14px;margin-left: 3px;margin-top: 51px;margin-bottom: 10px;text-align: left">
                                    Login with:   
                                </div>
                                <table>
                                    <tr>
                                        <td style="padding-left: 0px !important;padding-right: 25px;width: auto">
                                            <div class="facebook"></div>
                                        </td>
                                        <td style="padding-left: 0px !important;padding-right: 25px">
                                            <div class="github"></div>
                                        </td>
                                        <td style="padding-left: 0px !important;padding-right: 25px">
                                            <div class="google"></div>
                                        </td>
                                        <td>
                                            <div class="linkedin"></div>
                                        </td>
                                    </tr>
                                </table>
                                <div id="submit" class="submit" value="Login" style="text-align: center;background: #F3D445;padding: 8px;color:#0C0D0F;width:100px;box-shadow: 10px 10px #000;font-weight: 600;margin-top: 30px;margin-left: 3px">Login</div>

                            </table>
                        </form>
                        <br>
                    </div>
                </td>
            </table>
        </div>
        <script>    

            $("#button1").click(function () {
                $(this).addClass("active");
                $("#button2").removeClass("active");
            });

            $("#button2").click(function () {
                $(this).addClass("active");
                $("#button1").removeClass("active");
            });

            document.getElementById("loginButton").onclick = function () {
                location.href = "login";
            };

            document.getElementById("registerButton").onclick = function () {
                location.href = "register";
            };

        </script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
    </body>
</html>
